@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 20 14.3% 4.1%;
  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;
  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 20 14.3% 4.1%;
  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --primary: 210 29% 24%; /* #2C3E50 */
  --primary-foreground: 211 100% 99%;
  --secondary: 212 32% 29%; /* #34495E */
  --secondary-foreground: 0 0% 98%;
  --accent: 207 90% 54%; /* #3498DB */
  --accent-foreground: 211 100% 99%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;
  --ring: 20 14.3% 4.1%;
  --radius: 0.5rem;
  --success: 145 64% 49%;
  --success-foreground: 211 100% 99%;
  --error: 6 79% 57%;
  --error-foreground: 0 0% 100%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 210 29% 24%;
  --primary-foreground: 211 100% 99%;
  --secondary: 212 32% 29%;
  --secondary-foreground: 0 0% 98%;
  --accent: 207 90% 54%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
  --success: 145 64% 49%;
  --success-foreground: 211 100% 99%;
  --error: 6 79% 57%;
  --error-foreground: 0 0% 100%;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-gray-100 font-roboto text-foreground;
  }
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-source {
  font-family: 'Source Sans Pro', sans-serif;
}
